In [5]:
import pandas as pd

df = pd.read_csv('D:\\Study\\ML\\So1s-Study\\일섭\\week2\\titanic\\data\\train.csv')

In [6]:
df

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y

In [7]:
age_np = df['age'].values
age_np

array([22.  , 38.  , 26.  , 35.  , 28.  ,  2.  , 27.  , 14.  ,  4.  ,
       20.  , 39.  , 14.  ,  2.  , 28.  , 31.  , 28.  , 35.  , 28.  ,
       38.  , 28.  , 19.  , 28.  , 28.  , 40.  , 28.  , 28.  , 66.  ,
       28.  , 42.  , 28.  , 14.  , 40.  , 27.  , 28.  ,  3.  , 28.  ,
       28.  , 28.  , 18.  ,  7.  , 49.  , 29.  , 65.  , 28.  , 21.  ,
       28.5 , 11.  , 22.  , 38.  , 45.  ,  4.  , 28.  , 19.  , 17.  ,
       26.  , 32.  , 21.  , 32.  , 25.  , 28.  , 28.  ,  0.83, 30.  ,
       22.  , 29.  , 28.  , 28.  , 16.  , 28.  , 23.  , 24.  , 46.  ,
       59.  , 28.  , 71.  , 23.  , 34.  , 34.  , 28.  , 28.  , 21.  ,
       33.  , 37.  , 28.  , 28.  , 28.  , 47.  , 14.5 , 22.  , 17.  ,
       21.  , 70.5 , 29.  , 24.  , 28.  , 32.5 , 32.5 , 28.  , 24.  ,
       45.  , 20.  , 47.  , 23.  , 19.  , 37.  , 16.  , 24.  , 28.  ,
       22.  , 19.  , 18.  ,  9.  , 51.  , 55.5 , 40.5 , 28.  , 51.  ,
       16.  , 28.  , 28.  , 44.  , 26.  , 17.  ,  1.  , 28.  , 28.  ,
        4.  , 18.  , 28.  , 50.  , 30.  , 36.  , 28.  , 28.  ,  9.  ,
        4.  , 28.  , 45.  , 36.  , 32.  , 19.  ,  3.  , 44.  , 58.  ,
       28.  , 28.  , 24.  , 28.  , 28.  , 34.  ,  2.  , 32.  , 26.  ,
       16.  , 40.  , 35.  , 22.  , 28.  , 31.  , 27.  , 42.  , 30.  ,
       16.  , 51.  , 22.  , 19.  , 20.5 , 18.  , 28.  , 35.  , 29.  ,
       59.  , 28.  , 44.  , 19.  , 33.  , 28.  , 28.  , 22.  , 30.  ,
       44.  , 24.  , 28.  , 29.  , 30.  , 41.  , 28.  , 35.  , 50.  ,
       28.  ,  3.  , 40.  , 28.  , 36.  , 16.  , 25.  , 58.  , 35.  ,
       28.  , 25.  , 41.  , 37.  , 28.  , 63.  , 45.  , 28.  ,  7.  ,
       35.  , 28.  , 16.  , 28.  , 26.  , 36.  , 24.  , 28.  , 50.  ,
       28.  , 19.  , 28.  , 28.  , 28.  , 17.  , 30.  , 30.  , 24.  ,
       18.  , 26.  , 28.  , 43.  , 24.  , 31.  , 40.  , 22.  , 27.  ,
       22.  , 28.  , 36.  , 61.  , 31.  , 28.  , 38.  , 28.  , 28.  ,
       29.  , 45.  , 45.  , 28.  , 25.  , 36.  , 24.  , 40.  , 28.  ,
       15.  , 25.  , 28.  , 28.  , 22.  , 38.  , 28.  , 28.  , 40.  ,
       29.  , 45.  , 35.  , 28.  , 60.  , 28.  , 28.  , 24.  , 18.  ,
       19.  , 28.  , 27.  , 19.  , 42.  , 32.  , 28.  , 18.  ,  1.  ,
       28.  , 17.  , 36.  , 21.  , 23.  , 24.  , 22.  , 31.  , 46.  ,
       23.  , 39.  , 26.  , 28.  , 34.  ,  3.  , 21.  , 28.  , 28.  ,
       28.  , 28.  , 44.  , 28.  , 34.  , 18.  , 30.  , 28.  , 21.  ,
       18.  , 19.  , 28.  , 32.  , 28.  , 28.  , 42.  , 17.  , 50.  ,
       14.  , 24.  , 64.  , 31.  , 45.  , 20.  , 28.  , 28.  , 34.  ,
        5.  , 52.  , 36.  , 30.  , 49.  , 29.  , 65.  , 28.  , 48.  ,
       34.  , 47.  , 28.  , 38.  , 56.  , 28.  ,  0.75, 28.  , 33.  ,
       23.  , 28.  , 34.  , 29.  ,  2.  ,  9.  , 28.  , 63.  , 25.  ,
       28.  , 35.  , 58.  ,  9.  , 28.  , 71.  , 21.  , 25.  , 17.  ,
       21.  , 37.  , 18.  , 33.  , 28.  , 26.  , 54.  , 24.  , 47.  ,
       34.  , 36.  , 32.  , 30.  , 22.  , 44.  , 28.  , 40.5 , 50.  ,
       28.  , 23.  ,  2.  , 17.  , 28.  , 30.  ,  7.  , 45.  , 30.  ,
       22.  , 36.  ,  9.  , 11.  , 50.  , 19.  , 28.  , 33.  , 17.  ,
       27.  , 28.  , 22.  , 48.  , 28.  , 39.  , 36.  , 28.  , 40.  ,
       28.  , 24.  , 19.  , 29.  , 32.  , 62.  , 53.  , 36.  , 16.  ,
       34.  , 25.  , 36.  , 47.  , 60.  , 28.  , 35.  , 52.  , 47.  ,
       28.  , 37.  , 36.  , 28.  , 49.  , 28.  , 49.  , 35.  , 36.  ,
       30.  , 27.  , 22.  , 40.  , 39.  , 28.  , 28.  , 35.  , 24.  ,
       34.  , 26.  , 20.  , 61.  , 57.  , 21.  , 26.  , 28.  , 80.  ,
       51.  , 32.  ,  9.  , 28.  , 32.  , 41.  , 28.  , 20.  , 28.  ,
        0.75, 48.  , 28.  , 23.  , 28.  , 18.  , 21.  , 24.  , 28.  ,
       32.  , 50.  , 47.  , 36.  , 20.  , 25.  , 28.  , 43.  , 40.  ,
       31.  , 31.  , 28.  , 18.  , 18.  , 36.  , 27.  , 20.  , 14.  ,
       60.  , 19.  , 18.  , 15.  , 31.  ,  4.  , 28.  , 60.  , 28.  ,
       49.  , 35.  , 25.  , 39.  , 22.  , 28.  , 24.  , 28.  , 48.  ,
       29.  , 19.  , 38.  , 27.  , 28.  , 33.  ,  6.  , 50.  , 27.  ,
       30.  , 25.  , 25.  , 29.  , 11.  , 28.  , 23.  , 23.  , 35.  ,
       28.  , 28.  , 36.  , 21.  , 24.  , 70.  ,  4.  ,  6.  , 33.  ,
       23.  , 48.  , 28.  , 34.  , 28.  , 41.  , 20.  , 51.  , 28.  ,
       28.  , 32.  , 48.  , 57.  , 18.  , 28.  ,  5.  , 17.  , 29.  ,
       28.  , 25.  ,  1.  , 46.  , 28.  , 16.  , 28.  , 28.  , 25.  ,
       39.  , 49.  , 31.  , 30.  , 30.  , 34.  , 31.  , 11.  , 31.  ,
       39.  , 39.  , 33.  , 26.  , 39.  , 35.  , 30.5 , 28.  , 23.  ,
       31.  , 10.  , 52.  , 27.  ,  2.  , 28.  , 28.  , 28.  , 15.  ,
       28.  , 23.  , 18.  , 39.  , 21.  , 28.  , 28.  , 16.  , 30.  ,
       34.5 , 42.  , 28.  , 35.  , 28.  , 28.  ,  4.  , 16.  , 18.  ,
       45.  , 51.  , 24.  , 41.  , 24.  , 42.  , 27.  , 31.  ,  4.  ,
       26.  , 47.  , 33.  , 47.  , 28.  , 15.  , 20.  , 19.  , 28.  ,
       22.  , 28.  , 25.  , 19.  , 28.  , 32.  ])

In [12]:
for v in age_np:
    print(str(v),end=' ')
print()
for v in age_np:
    print(float(v),end=' ')

22.0 38.0 26.0 35.0 28.0 2.0 27.0 14.0 4.0 20.0 39.0 14.0 2.0 28.0 31.0 28.0 35.0 28.0 38.0 28.0 19.0 28.0 28.0 40.0 28.0 28.0 66.0 28.0 42.0 28.0 14.0 40.0 27.0 28.0 3.0 28.0 28.0 28.0 18.0 7.0 49.0 29.0 65.0 28.0 21.0 28.5 11.0 22.0 38.0 45.0 4.0 28.0 19.0 17.0 26.0 32.0 21.0 32.0 25.0 28.0 28.0 0.83 30.0 22.0 29.0 28.0 28.0 16.0 28.0 23.0 24.0 46.0 59.0 28.0 71.0 23.0 34.0 34.0 28.0 28.0 21.0 33.0 37.0 28.0 28.0 28.0 47.0 14.5 22.0 17.0 21.0 70.5 29.0 24.0 28.0 32.5 32.5 28.0 24.0 45.0 20.0 47.0 23.0 19.0 37.0 16.0 24.0 28.0 22.0 19.0 18.0 9.0 51.0 55.5 40.5 28.0 51.0 16.0 28.0 28.0 44.0 26.0 17.0 1.0 28.0 28.0 4.0 18.0 28.0 50.0 30.0 36.0 28.0 28.0 9.0 4.0 28.0 45.0 36.0 32.0 19.0 3.0 44.0 58.0 28.0 28.0 24.0 28.0 28.0 34.0 2.0 32.0 26.0 16.0 40.0 35.0 22.0 28.0 31.0 27.0 42.0 30.0 16.0 51.0 22.0 19.0 20.5 18.0 28.0 35.0 29.0 59.0 28.0 44.0 19.0 33.0 28.0 28.0 22.0 30.0 44.0 24.0 28.0 29.0 30.0 41.0 28.0 35.0 50.0 28.0 3.0 40.0 28.0 36.0 16.0 25.0 58.0 35.0 28.0 25.0 41.0 37.0 28.0 63.0 45.0 28.0 7.0 35.0 28.0 16.0 28.0 26.0 36.0 24.0 28.0 50.0 28.0 19.0 28.0 28.0 28.0 17.0 30.0 30.0 24.0 18.0 26.0 28.0 43.0 24.0 31.0 40.0 22.0 27.0 22.0 28.0 36.0 61.0 31.0 28.0 38.0 28.0 28.0 29.0 45.0 45.0 28.0 25.0 36.0 24.0 40.0 28.0 15.0 25.0 28.0 28.0 22.0 38.0 28.0 28.0 40.0 29.0 45.0 35.0 28.0 60.0 28.0 28.0 24.0 18.0 19.0 28.0 27.0 19.0 42.0 32.0 28.0 18.0 1.0 28.0 17.0 36.0 21.0 23.0 24.0 22.0 31.0 46.0 23.0 39.0 26.0 28.0 34.0 3.0 21.0 28.0 28.0 28.0 28.0 44.0 28.0 34.0 18.0 30.0 28.0 21.0 18.0 19.0 28.0 32.0 28.0 28.0 42.0 17.0 50.0 14.0 24.0 64.0 31.0 45.0 20.0 28.0 28.0 34.0 5.0 52.0 36.0 30.0 49.0 29.0 65.0 28.0 48.0 34.0 47.0 28.0 38.0 56.0 28.0 0.75 28.0 33.0 23.0 28.0 34.0 29.0 2.0 9.0 28.0 63.0 25.0 28.0 35.0 58.0 9.0 28.0 71.0 21.0 25.0 17.0 21.0 37.0 18.0 33.0 28.0 26.0 54.0 24.0 47.0 34.0 36.0 32.0 30.0 22.0 44.0 28.0 40.5 50.0 28.0 23.0 2.0 17.0 28.0 30.0 7.0 45.0 30.0 22.0 36.0 9.0 11.0 50.0 19.0 28.0 33.0 17.0 27.0 28.0 22.0 48.0 28.0 39.0 36.0 28.0 40.0 28.0 24.0 19.0 29.0 32.0 62.0 53.0 36.0 16.0 34.0 25.0 36.0 47.0 60.0 28.0 35.0 52.0 47.0 28.0 37.0 36.0 28.0 49.0 28.0 49.0 35.0 36.0 30.0 27.0 22.0 40.0 39.0 28.0 28.0 35.0 24.0 34.0 26.0 20.0 61.0 57.0 21.0 26.0 28.0 80.0 51.0 32.0 9.0 28.0 32.0 41.0 28.0 20.0 28.0 0.75 48.0 28.0 23.0 28.0 18.0 21.0 24.0 28.0 32.0 50.0 47.0 36.0 20.0 25.0 28.0 43.0 40.0 31.0 31.0 28.0 18.0 18.0 36.0 27.0 20.0 14.0 60.0 19.0 18.0 15.0 31.0 4.0 28.0 60.0 28.0 49.0 35.0 25.0 39.0 22.0 28.0 24.0 28.0 48.0 29.0 19.0 38.0 27.0 28.0 33.0 6.0 50.0 27.0 30.0 25.0 25.0 29.0 11.0 28.0 23.0 23.0 35.0 28.0 28.0 36.0 21.0 24.0 70.0 4.0 6.0 33.0 23.0 48.0 28.0 34.0 28.0 41.0 20.0 51.0 28.0 28.0 32.0 48.0 57.0 18.0 28.0 5.0 17.0 29.0 28.0 25.0 1.0 46.0 28.0 16.0 28.0 28.0 25.0 39.0 49.0 31.0 30.0 30.0 34.0 31.0 11.0 31.0 39.0 39.0 33.0 26.0 39.0 35.0 30.5 28.0 23.0 31.0 10.0 52.0 27.0 2.0 28.0 28.0 28.0 15.0 28.0 23.0 18.0 39.0 21.0 28.0 28.0 16.0 30.0 34.5 42.0 28.0 35.0 28.0 28.0 4.0 16.0 18.0 45.0 51.0 24.0 41.0 24.0 42.0 27.0 31.0 4.0 26.0 47.0 33.0 47.0 28.0 15.0 20.0 19.0 28.0 22.0 28.0 25.0 19.0 28.0 32.0
22.0 38.0 26.0 35.0 28.0 2.0 27.0 14.0 4.0 20.0 39.0 14.0 2.0 28.0 31.0 28.0 35.0 28.0 38.0 28.0 19.0 28.0 28.0 40.0 28.0 28.0 66.0 28.0 42.0 28.0 14.0 40.0 27.0 28.0 3.0 28.0 28.0 28.0 18.0 7.0 49.0 29.0 65.0 28.0 21.0 28.5 11.0 22.0 38.0 45.0 4.0 28.0 19.0 17.0 26.0 32.0 21.0 32.0 25.0 28.0 28.0 0.83 30.0 22.0 29.0 28.0 28.0 16.0 28.0 23.0 24.0 46.0 59.0 28.0 71.0 23.0 34.0 34.0 28.0 28.0 21.0 33.0 37.0 28.0 28.0 28.0 47.0 14.5 22.0 17.0 21.0 70.5 29.0 24.0 28.0 32.5 32.5 28.0 24.0 45.0 20.0 47.0 23.0 19.0 37.0 16.0 24.0 28.0 22.0 19.0 18.0 9.0 51.0 55.5 40.5 28.0 51.0 16.0 28.0 28.0 44.0 26.0 17.0 1.0 28.0 28.0 4.0 18.0 28.0 50.0 30.0 36.0 28.0 28.0 9.0 4.0 28.0 45.0 36.0 32.0 19.0 3.0 44.0 58.0 28.0 28.0 24.0 28.0 28.0 34.0 2.0 32.0 26.0 16.0 40.0 35.0 22.0 28.0 31.0 27.0 42.0 30.0 16.0 51.0 22.0 19.0 20.5 18.0 28.0 35.0 29.0 59.0 28.0 44.0 19.0 33.0 28.0 28.0 22.0 30.0 44.0 24.0 28.0 29.0 30.0 41.0 28.0 35.0 50.0 28.0 3.0 40.0 28.0 36.0 16.0 25.0 58.0 35.0 28.0 25.0 41.0 37.0 28.0 63.0 45.0 28.0 7.0 35.0 28.0 16.0 28.0 26.0 36.0 24.0 28.0 50.0 28.0 19.0 28.0 28.0 28.0 17.0 30.0 30.0 24.0 18.0 26.0 28.0 43.0 24.0 31.0 40.0 22.0 27.0 22.0 28.0 36.0 61.0 31.0 28.0 38.0 28.0 28.0 29.0 45.0 45.0 28.0 25.0 36.0 24.0 40.0 28.0 15.0 25.0 28.0 28.0 22.0 38.0 28.0 28.0 40.0 29.0 45.0 35.0 28.0 60.0 28.0 28.0 24.0 18.0 19.0 28.0 27.0 19.0 42.0 32.0 28.0 18.0 1.0 28.0 17.0 36.0 21.0 23.0 24.0 22.0 31.0 46.0 23.0 39.0 26.0 28.0 34.0 3.0 21.0 28.0 28.0 28.0 28.0 44.0 28.0 34.0 18.0 30.0 28.0 21.0 18.0 19.0 28.0 32.0 28.0 28.0 42.0 17.0 50.0 14.0 24.0 64.0 31.0 45.0 20.0 28.0 28.0 34.0 5.0 52.0 36.0 30.0 49.0 29.0 65.0 28.0 48.0 34.0 47.0 28.0 38.0 56.0 28.0 0.75 28.0 33.0 23.0 28.0 34.0 29.0 2.0 9.0 28.0 63.0 25.0 28.0 35.0 58.0 9.0 28.0 71.0 21.0 25.0 17.0 21.0 37.0 18.0 33.0 28.0 26.0 54.0 24.0 47.0 34.0 36.0 32.0 30.0 22.0 44.0 28.0 40.5 50.0 28.0 23.0 2.0 17.0 28.0 30.0 7.0 45.0 30.0 22.0 36.0 9.0 11.0 50.0 19.0 28.0 33.0 17.0 27.0 28.0 22.0 48.0 28.0 39.0 36.0 28.0 40.0 28.0 24.0 19.0 29.0 32.0 62.0 53.0 36.0 16.0 34.0 25.0 36.0 47.0 60.0 28.0 35.0 52.0 47.0 28.0 37.0 36.0 28.0 49.0 28.0 49.0 35.0 36.0 30.0 27.0 22.0 40.0 39.0 28.0 28.0 35.0 24.0 34.0 26.0 20.0 61.0 57.0 21.0 26.0 28.0 80.0 51.0 32.0 9.0 28.0 32.0 41.0 28.0 20.0 28.0 0.75 48.0 28.0 23.0 28.0 18.0 21.0 24.0 28.0 32.0 50.0 47.0 36.0 20.0 25.0 28.0 43.0 40.0 31.0 31.0 28.0 18.0 18.0 36.0 27.0 20.0 14.0 60.0 19.0 18.0 15.0 31.0 4.0 28.0 60.0 28.0 49.0 35.0 25.0 39.0 22.0 28.0 24.0 28.0 48.0 29.0 19.0 38.0 27.0 28.0 33.0 6.0 50.0 27.0 30.0 25.0 25.0 29.0 11.0 28.0 23.0 23.0 35.0 28.0 28.0 36.0 21.0 24.0 70.0 4.0 6.0 33.0 23.0 48.0 28.0 34.0 28.0 41.0 20.0 51.0 28.0 28.0 32.0 48.0 57.0 18.0 28.0 5.0 17.0 29.0 28.0 25.0 1.0 46.0 28.0 16.0 28.0 28.0 25.0 39.0 49.0 31.0 30.0 30.0 34.0 31.0 11.0 31.0 39.0 39.0 33.0 26.0 39.0 35.0 30.5 28.0 23.0 31.0 10.0 52.0 27.0 2.0 28.0 28.0 28.0 15.0 28.0 23.0 18.0 39.0 21.0 28.0 28.0 16.0 30.0 34.5 42.0 28.0 35.0 28.0 28.0 4.0 16.0 18.0 45.0 51.0 24.0 41.0 24.0 42.0 27.0 31.0 4.0 26.0 47.0 33.0 47.0 28.0 15.0 20.0 19.0 28.0 22.0 28.0 25.0 19.0 28.0 32.0